.formbox{
	border: solid 1px;
	width: 450px;
	padding-left: 26px;
	padding-top: 20px;
	background-color: black;
	margin-left: 400px;
	padding-bottom: 50px;
	border-radius: 0% 0% 45% 0%

}
label{
font-size: 22px;
color: white;
}
input{
	background-color: black;
	border: none;
	outline: none;
	color: white;
	font-size: 21px;
	border-bottom: solid;
	border-width: 4px;
}
#textbox{
	width: 280px;
}
button{
	height: 50px;
	width: 150px;
	background-color: pink;
	border-radius: 50px;
	color: white;
	font-size: 23px;
	font-weight: bold;
}
body{
	background-image: linear-gradient(gray,white)
}
h1{
	font-size: 60px;
	text-shadow: 2px 2px 2px black;
	text-align: center;
}
img{
	position: relative;
	left: 540px;
	top:50px
	border-radius:50%
}