*{
	margin: 0PX;
	padding: 0PX;
}
.outerbox{
	border: solid 1px;
	height: 140px;
	display: flex;
}
#box1,#box2,#box3{
	border: solid 1px;
	height: 140px;
}
#box1{
	width: 200px;
}
#box2{
	width: 960px;text-align: center;
	background-color: #fce303;
}
#box3{
	width: 200px;
}
#clgname{
	color: red; font-size: 35px;
}
#text1{
	font-size: 30px;
	font-weight: bold;
}
#text2{
	font-size: 28px;
	font-weight: bold;
	color: navy;
}
#scrolltext{
	font-size: 22px;
	font font-weight: bold;
}
.nav{
	border: solid 1px;
	height: 50px;
}
ul li{
	border: solid 1px;
	height: 50px;
	width: 165px;
	float: left;
	text-align: center;
	line-height: 50px;
	background-color: #ae34eb;
}
ul{
	list-style: none;

}
ul li a{
	color: white;
	font-size: 22px;
	text-decoration: none;

}
ul li ul li{
 	display: none;
}
ul li:hover ul li{
	display: block;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
}
.obox{
	border: solid 1px;
	height: 350px;
	display: flex;
    justify-content: space-between;

}
#in1,#in2,#in3{
	border: solid 1px;
	height: 350px;
	z-index: -1;
}
#in1{
	width: 550px;
	background-image: url(img7.jpg);
	background-repeat: no-repeat;
    background-size: 550px 350px;
    animation-name: imgchange;
    animation-duration:10s;
    animation-iteration-count: infinite;  
}
@keyframes imgchange{
10%{
	background-image: url(img2.jpg);

}
20%{
	background-image: url(img3.jpg);
}
30%{
	background-image: url(img4.jpg);
}
40%{
	background-image: url(img5.jpg);
}
50%{
	background-image: url(img6.jpg);
}
}
#in2,#in3{
     width: 380px;
}
#Placements{
	border: solid 1px;
	height: 300px;
}
.header{
	border: solid 1px;
	height: 50px;
	background-color:#a83686;
	line-height: 50px;
	padding-left: 110px;

}
#head1{
	padding-right: 35px;
	color: white;
	font-size: 22px;
	text-decoration:none;
}
.out{
	border: solid 1px;
	height: 400px;
    display: flex;
}
#ug,#pg{
	border: solid 1px;
	height: 480px;
	border-radius: 40px;
}
#ug,#pg{
    width: 650px;
    margin: 10px;
    
}
#course{
	border: solid 1px;
	height: 40px;
	margin: 20px;
	border-radius: 20px;
	padding-left: 10px;
	line-height: 40px;
	background-color: bisque;
	font-size: 20px;
}
#ug{
	background-color: purple;
}
#course:hover{
	background-color: gold;
}
#course{
	border:solid 1px;
	height: 40px;
	margin: 20px;
	border-radius: 20px;
	padding-left: 10px;
	line-height: 40px;
	background-color: bisque;
	font-size: 20px;
}
#pg{
	background-color: purple;
}
#course:hover{
	background-color: gold;
}
ul li:hover{
	background-color: navy;
}

